/*styles for my resume*/

body{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400;
  padding: 0;
  background-color: #666666;
}
.container-fluid{
  padding: 10px;
  padding-top: 0px;
}
.page-topper{
  background-color: #363535;
}

#initials{
  border: 1px solid black;
  background-color: #B2B2B2;
  width: 290px;
  height: 290px;
  line-height: 290px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.initials-text {
  width: fit-content;
  height: fit-content;
  margin: auto;
  -webkit-text-stroke: 1.25px #707070;
  font-size: 94.5px;

}

/* when screen smaller than 892px */
@media (max-width: 892px) {
  .divider-border{
    border-right: none;
  }
}
@media (min-width: 892px) {
  .divider-border{
    border-right: 4px solid white;
  }
}
.divider-border{
  height: 290px;
  width: 4px;
  margin: auto;
}
.toppername{
  color: white;
  font-size: 6em;
  text-align: left;
  margin: auto;
}
.text-list{
  font-size: 40px;
  color: white;
  line-height: 100px;
  margin: auto;
}

#title-text {
  font-weight: 100;
  font-size: 90px;
  letter-spacing: 25px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.mission-statement {
  padding: 1em;
}


.block-title {
  font-weight: 100;
  font-size: 40px;
  letter-spacing: 20px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}


.experience-position {
  font-size: 20px;
  margin-right: auto;
  width: fit-content;
}

.contact {
  margin-top: 0.5em;
}

.experience-block {
  padding: 0.8em 1.5em;
}


.experience-org {
  font-size: 17px;
}

.left-col {
  padding-left: 0;
  padding-right: 0;
  margin-top: 1em;
}

.right-col {
  padding-right: 0;
  padding-left: 0
}

.top-level {
  color: white;
  background-color: #404040;
}

.experience-dates {
  font-size: 15px;
  margin-bottom: 0.5em;
}

.social {
  padding-left: 8em;
  padding-right: 8em;
  margin: 1em 0;
}

.social-title {
  font-weight: 100;
  font-size: 25px;
  letter-spacing: 15px;
}

.footer-text {
  margin: 0.25em 1.5em;
  color: #c4c4c4;
}

.social-icon i {
  float: right;
  font-size: 30px;
}

.hover-color:hover {
  color: royalblue;
}
.no-decoration {
  text-decoration: none;
  color: white;
}
.main {
  color: white;
}
